body {
    background: rgb(214, 255, 252);
    text-align: center;
    padding: 0 25px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main {

}

#chats {
    text-align: left;
    /*margin-right: 400px;*/
    width: 60%;
    height: 600px;
    background: white;
    padding: 10px 10px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    border-radius: 10px;
    margin:3% 0% 2% 3%;
    position: relative;
    display:block;
    float:left;
    overflow-y:hidden;
    -webkit-box-shadow: 2px 2px 2px 2px rgb(135, 135, 135);
    background-color: rgb(226, 226, 226);
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 10px;
    padding-left: 0;
    margin-bottom: 0px;
}

form input[type=text] {
    margin-left: 30px;

    width: 30%;
    font-size: 12px;
    padding: 5px;
    float:left;
}
.submit {
    float:left;
    margin-left: 5px;
}
.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    font-weight: bold;
}

#friends {
    text-align: left;
}

#friendDiv {
    margin-top: 3%;
    width: 100px;
    float:left;
}

li {
    list-style: none;
    float:left;
}

.friendTitle {
    font-size: 22px;
}
#tweets {
    width: 10px;
}

.divRoom {
    position:relative;
    height: 100%;
    overflow-y: scroll;
    color: black;
}
.messageTitle {
    font-size: 22px;
    color: black;
}

.messages {
    position: relative;
    min-width: 90%;
    min-height:10%;
    text-align: left;
    display: block;
    padding: 3% 0% 3% 2%;
    margin: 1% 0% 0% 0%;
    background-color: rgb(240, 240, 240);
    border: 1px solid black;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 2px 2px rgb(135, 135, 135);
    transition: 0.5s;
}

.divRoom :hover {
    background-color: rgb(80, 80, 244);
    transition: 0.5s;
    color:white;
}

.postMessage {
    font-size: 22px;
    float:left;
    padding-left: 3%;
}
.postRoom {
    font-size: 22px;
    float:left;
    padding-left: 3%;
}
